
<div class="pre-footer">
	<div class="container">
		<div class="row">
			<!-- BEGIN BOTTOM ABOUT BLOCK -->
			<div class="col-md-4 col-sm-6 pre-footer-col">
				<h2>关于我们</h2>
				<p>本网站旨在学习交流，网站资源均来源于互联网，如发现有侵权请告知删除。</p>
			</div>
			<!-- END BOTTOM ABOUT BLOCK -->
			<!-- BEGIN BOTTOM INFO BLOCK -->
			<div class="col-md-4 col-sm-6 pre-footer-col">
				<h2>网站资源</h2>
				<ul class="list-unstyled">
					<li><i class="fa fa-angle-right"></i> <a href="javascript:;">1、爬取数据</a></li>
					<li><i class="fa fa-angle-right"></i> <a href="javascript:;">2、提供用户实时搜索</a></li>
					<li><i class="fa fa-angle-right"></i> <a href="javascript:;">3、免去资源搜索切换平台的烦恼</a></li>
				</ul>
			</div>
			<!-- END INFO BLOCK -->

			<!-- BEGIN BOTTOM CONTACTS -->
			<div class="col-md-4 col-sm-6 pre-footer-col">
				<h2>联系我们</h2>
				<address class="margin-bottom-40">
					Email: <a href="javascript:;">wl_stone@aliyun.com</a><br>
				</address>
			</div>
			<!-- END BOTTOM CONTACTS -->
		</div>
		<hr>
	</div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 padding-top-10">Copyright 2019 © xdong.cn.</div>
			<div class="col-md-4 col-sm-6 padding-top-10">浙ICP备18015886号-1.</div>
			<div class="col-md-4 col-sm-6 padding-top-10"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102002019&token=7894ce9f-f8f8-4637-8761-56d4eef0a3c2"><img src="http://www.beian.gov.cn/img/ghs.png" />浙公网安备 33010602009251号.</a></div>
		</div>
	</div>
</div>
<!-- END FOOTER -->
</div>
