<div class="header">
  <div class="container">
    <a class="site-logo" href="/crawler/index"><img src="/static/img/ripple_music.png" alt="Ripple Music"></a>
    <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
    <div class="header-navigation font-transform-inherit" style="font-size:25px;">
      <ul>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/crawler/index">
            首页 
          </a>
        </li>
        <li class="dropdown dropdown-megamenu">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
            音乐
          </a>
        </li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
            博客 
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
